### TWO OR MORE DATA SET MERGE TOEGTHER

In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv(r"C:\Users\ibast\Downloads\Car Drive risk Multiple Varible.zip")

In [3]:
df1.head()

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82

In [5]:
df2=pd.read_csv(r"C:\Users\ibast\Downloads\car driving risk analysis.csv")

In [6]:
df2.head()

   speed  risk
0    200    95
1     90    20
2    300    98
3    110    60
4    240    72

#### now make one data set from these two set. but one thing have to common one column

In [18]:
df3=pd.merge(df1,df2)

In [20]:
df3.head()

   speed  car_age  experience  risk
0     90       17        13.0    20
1    110       20         NaN    60
2    115        2         8.0    10

In [22]:
df3.head(how="car_age")

TypeError: head() got an unexpected keyword argument 'how'