In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [2]:
df=pd.read_csv(r"C:\Users\ibast\Downloads\weight height csv.zip")
df.head(5)

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [3]:
#TO FIND OUT HOW MANY NULL VALUE IN THIS FILE 
df.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [4]:
df.shape

(10000, 3)

In [5]:
df.mean()

C:\Users\ibast\AppData\Local\Temp/ipykernel_131368/3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Height     66.367560
Weight    161.440357
dtype: float64

In [6]:
df.median()

C:\Users\ibast\AppData\Local\Temp/ipykernel_131368/530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Height     66.318070
Weight    161.212928
dtype: float64

In [7]:
df.head(5)

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [8]:
from PIL import Image
img=Image.open("out.gif")
img

FileNotFoundError: [Errno 2] No such file or directory: 'out.gif'

In [ ]:
pip install sns

In [11]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\ibast\anaconda3\lib\site-packages (0.11.2)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas>=0.23 in c:\users\ibast\anaconda3\lib\site-packages (from seaborn) (1.3.4)
Requirement already satisfied: numpy>=1.15 in c:\users\ibast\anaconda3\lib\site-packages (from seaborn) (1.20.3)
Requirement already satisfied: matplotlib>=2.2 in c:\users\ibast\anaconda3\lib\site-packages (from seaborn) (3.4.3)
Requirement already satisfied: scipy>=1.0 in c:\users\ibast\anaconda3\lib\site-packages (from seaborn) (1.7.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ibast\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ibast\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ibast\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\ibast\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\ibast\anaconda3\lib\site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: six in c:\users\ibast\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\ibast\anaconda3\lib\site-packages (from pandas>=0.23->seaborn) (2021.3)

In [13]:
sns.histplot(df["Weight"]),kde=True

SyntaxError: cannot assign to function call (Temp/ipykernel_131368/1899647555.py, line 1)

In [16]:
mean_value=df["Weight"].mean()
mean_value

161.44035683283076

In [18]:
std_value=df["Weight"].std()
std_value

32.108439006519546

In [19]:
std_3=mean_value+(3*std_value)
std_3

257.7656738523894